@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

.logo {
    height: 100%;
    vertical-align: middle;
}

    .logo:hover {
        cursor: pointer;
    }


/* Navigation Settings*/
.nav {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            padding: 10px 10px 10px 10px;
            letter-spacing: 2px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
        padding: 30px 10px 10px 0px;
    }

        .nav > .nav-links > a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #4d4d4d;
            text-align: center;
        }

            .nav > .nav-links > a:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

    .nav > #nav-check {
        display: none;
    }


/* Header Settings*/
/*.header {
    height: 500px;
    padding: 100px 70px 100px 70px;
    margin: 0px 20px 0px 20px;
    background-position: center;
    background-size: cover;
    background-image: url("https://media0.giphy.com/media/B4rRh0AXFSkhi/giphy.gif");
    background-color: #ffffff;
    min-height: 100%;
    margin: 0 auto;
}*/

/*.main {
    background-position: center;
    background-size: cover;
    background-image: url("https://media0.giphy.com/media/B4rRh0AXFSkhi/giphy.gif");
    background-color: #ffffff;
    background-color: red;
    min-height: 100%;
}*/

.header-img1 {
    grid-area: img1;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding: 0 10px 0 10px;*/
}

.gavel {
    height: 200px;
    /*padding: 0 10% 0 0;*/
    /*float: right;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding: 0 10px 0 10px;*/ /
}

.intro-text {
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
    color: #4D4D4D;
}

.intro-sentence {
    font-size: 18px;
    color: #ffffff;
    color: #4D4D4D;
    padding-top: 100px;
}


/* Button Settings */
/*.cta {
    padding: 50px 0px 0px 0px;
}*/

.cta-select {
    border: 2px solid #00cc82;
    /*background: transparent;*/
    background: #ffffff;
    /*color: #B4272A;*/
    color: #00cc82;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-style: none;
}

    .cta-select a {
        text-decoration: none;
        color: inherit;
    }

    .cta-select:hover {
        background-color: #00cc82;
        color: #ffffff;
    }


.header-p1 {
    grid-area: text1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
}

.cta {
    grid-area: cta;
    padding-top: 25px;
}


.grid-containerm {
    display: grid;
    grid-template-areas: 'text1 img1' 'text1 img1' 'cta img1';
    grid-column-gap: 10px;
    padding: 100px 70px 200px 70px;
    background-color: #ffffff;
    /*border-top: solid 1px #deded2;*
    /*border-top: solid 1px #deded2;*/
    /*background-color: #fafaf9;*/
}

    .grid-containerm > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        /*grid-column-gap: 15px;*/
        text-align: left;
        font-size: 16px;
    }

@media (max-width:600px) {
    .grid-containerm {
        grid-template-areas: 'img1' 'text1' 'cta';
        grid-gap: 10px;
        padding: 15px 25px 15px 25px;
        /*padding: 10px;*/
    }

        .grid-containerm > div {
            /*background-color: rgba(255, 255, 255, 0.8);*/
            grid-column-gap: 15px;
            text-align: center;
            font-size: 16px;
            background-color: pink;
        }

    .cta {
        padding-bottom: 50px;
    }
}




.sec5-title {
    grid-area: title;
    color: #00cc82;
    text-align: center;
    font-weight: 800;
}

.sec5-img1 {
    grid-area: img1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sec5-p1 {
    grid-area: text1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
    text-align: center;
}

.cta5 {
    grid-area: cta5;
    padding-top: 25px;
}
.grid-container5 {
    display: grid;
    grid-template-areas: 
        'text1 img1'
        'text1 img1'
        'cta5 img1';
    grid-gap: 15px;
    grid-column-gap: 25px;
    padding: 75px 50px 200px 50px;
    background-color: #ffffff;
    border-top: solid 1px #deded2;
    text-align: left;
    /*border-top: solid 1px #deded2;*/
}


    .grid-container5 > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        /*background-color: blue;*/
        text-align: left;
        font-size: 16px;
    }

@media (max-width:600px) {
    .grid-container5 {
        grid-template-areas: 
            'img1' 
            'text1' 
            'cta5';
        grid-gap: 10px;
        padding: 50px 25px 25px 25px;
    }

        .grid-container5 > div {
            /*background-color: rgba(255, 255, 255, 0.8);*/
            /*background-color: blue;*/
            text-align: center;
            font-size: 16px;
        }
        


}
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Section 1 Settings*/
/*.section1 {
    position: relative;
    padding: 50px 75px 0 75px;
    background: #fafaf9;
    background-color: red;
    border-top: solid 1px #deded2;
    float: center;
    width: 100%;
    min-height: 100vh;
    min-height: auto;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
}*/

/*.sec1-title {
    background-color: blue;
    font-size: 22px;
    color: #00cc82;
    text-align: center;
    font-weight: 800;
}*/

/*.sec1-img1 {
    height: 100%;
    vertical-align: middle;
}*/

.letter {
    height: 100px;
    /*border: 2px solid black;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.clock {
    height: 100px;
    /*border: 2px solid black;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.courthouse {
    height: 100px;
    /*border: 2px solid black;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*.sec1-p1,
.sec1-p2,
.sec1-p3 {
    text-align: center;
    border: 2px solid black;
}*/


/*.sec1-column1 {
    background-color: green;
    float: left;
    width: 33.3%;
    height: 400px;
    padding: 0 20px 0 20px;
}

.sec1-column2 {
    background-color: pink;
    float: left;
    width: 33.3%;
    height: 420px;
    padding: 0 20px 0 20px;
}

.sec1-column3 {
    background-color: yellow;
    float: left;
    width: 33.3%;
    height: 400px;
    padding: 0 20px 0 20px;
}*/



.sec1-title {
    grid-area: title;
    color: #00cc82;
    text-align: center;
    font-weight: 800;
}

.sec0-img1 {
    grid-area: img1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sec0-p1 {
    grid-area: text1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
    text-align: center;
}

.sec0-img2 {
    grid-area: img2;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sec0-p2 {
    grid-area: text2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sec0-img3 {
    grid-area: img3;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sec0-p3 {
    grid-area: text3;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-areas: 'title title title' 'img1 img2 img3' 'text1 text2 text3';
    grid-gap: 15px;
    grid-column-gap: 25px;
    padding: 75px 50px 75px 50px;
    background-color: #fafaf9;
    border-top: solid 1px #deded2;
    /*border-top: solid 1px #deded2;*/
}


    .grid-container > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        /*background-color: blue;*/
        text-align: center;
        font-size: 16px;
    }

@media (max-width:600px) {
    .grid-container {
        grid-template-areas: 'title title' 'img1 img1' 'text1 text1' 'img2 img2' 'text2 text2' 'img3 img3' 'text3 text3';
        grid-gap: 10px;
        padding: 50px 25px 15px 25px;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
.section2 {
    padding: 50px 100px 0px 100px;
    border-top: solid 1px #deded2;
    float: center;
    width: 100%;
    min-height: 105vh;
    overflow: hidden;
    margin: 0 auto;
}

.sec2-title {
    font-size: 22px;
    color: #00cc82;
    text-align: center;
    font-weight: 800;
    /*background-color: pink;*/
}

.magnifying-glass {
    height: 100px;
    padding: 0 5% 0 5%;
    float: left;
}

.questions {
    height: 100px;
    padding: 0 5% 0 5%;
    float: left;
}

.scale {
    height: 100px;
    padding: 0 5% 0 5%;
    float: left;
}

.sec2-p1, .sec2-p2, .sec2-p3 {
    text-align: left;
}

.sec3-title {
    grid-area: title;
    color: #00cc82;
    text-align: center;
    font-weight: 800;
}

.sec3-img1 {
    grid-area: img1;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding: 0 10px 0 10px;*/
}

.sec3-p1 {
    grid-area: text1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
}

.sec3-img2 {
    grid-area: img2;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sec3-p2 {
    grid-area: text2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sec3-img3 {
    grid-area: img3;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.sec3-p3 {
    grid-area: new3;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-container-title {
    display: grid;
    grid-template-areas: 'title';
    grid-gap: 15px;
    padding: 75px 100px 0px 100px;
    background-color: #ffffff;
    border-top: solid 1px #deded2;
}

.grid-container2 {
    display: grid;
    grid-template-areas: 'title title' 'img1 text1' 'img2 text2' 'img3 new3';
    grid-gap: 20px;
    grid-column-gap: 50px;
    padding: 0px 100px 50px 100px;
    /*background-color: #2196F3;
    border-top: solid 1px #deded2;*

    /*background-color: #fafaf9;*/
}

    /*
.item2, .item3, .item4, item5, .item6, item7  {
    width: 33.3%;
}*/

    .grid-container2 > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        /*text-align: left;*/
        font-size: 16px;
    }

@media (max-width:600px) {
    .grid-container-title {
        padding: 50px 25px 0px 25px;
    }

    .grid-container2 {
        grid-template-areas: 'title' 'img1' 'text1' 'img2' 'text2' 'img3' 'new3';
        grid-gap: 10px;
        padding: 20px 25px 20px 25px;
        text-align: center;
        /*background-color: pink;*/
        /*padding: 10px;*/
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

.footer {
    /*padding: 10px 200px 0px 200px;
    margin: 0;
    background-color: #4D4D4D;
    color: #ffffff;
    border-top: solid 1px #deded2;
    float: center;
    width: 100%;
    height: 210px;*/
    /*min-height: 100%;*/
    /*margin: 0 auto;*/
    /*left: 0;
    bottom: 0;*/
    width: 100%;
    height: 180px;
    background-color: #4D4D4D;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    padding: 0 100px 0 100px;
    margin-right: auto;
    display: block;
}

    .footer a {
        text-decoration: none;
        color: #00cc82;
    }

        .footer a:hover {
            color: #0486C2;
        }

.prp {
    height: 160px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: block;
}

.footer-p {
    /*padding: 0 200px 0 200px;*/
    text-align: left;
    height: 150px;
}


.sec4-img1 {
    grid-area: img1;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding: 0 10px 0 10px;*/
}

.sec4-p1 {
    grid-area: text1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section4 a {
    text-decoration: none;
    color: #00cc82;
}

    .section4 a:hover {
        color: #0486C2;
    }


.grid-container4 {
    display: grid;
    grid-template-areas: 'img1 text1';
    grid-gap: 15px;
    padding: 50px 100px 50px 100px;
    background-color: #fafaf9;
    border-top: solid 1px #deded2;
    /*background-color: #fafaf9;*/
}

    /*
.item2, .item3, .item4, item5, .item6, item7  {
    width: 33.3%;
}*/

    .grid-container4 > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        /*background-color: green;*/
        text-align: left;
        font-size: 16px;
    }

@media (max-width:600px) {
    .grid-container4 {
        grid-template-areas: 'img1 img1' 'text1 text1';
        grid-gap: 10px;
        /*background-color: pink;*/
        padding: 15px 25px 15px 25px;
        /*background-color: pink;*/ 5
        /*padding: 10px;*/
    }

    .sec4-img1 {
        padding-right: 70px;
        /*padding: 0 10px 0 10px;*/
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/


/*.sec2-column1 {
    float: left;
    width: 40%;
    height: 300px;
}

.sec2-column2 {
    float: left;
    width: 60%;
    height: 300px;
}*/

/*.sec2-row:after {
    content: "";
    display: inline-flex;
    clear: both;
}*/


/*.sec3-row:after {
    content: "";
    display: inline-flex;
    clear: both;
}*/



/* For Pages: 
    - More Info  
    - Resources
    - Nondiscrimination
*/
/*/////////////////////////////////////////////////////////////////////////////*/
.page-content {
    padding: 25px 200px 75px 200px;
}

    .page-content a {
        text-decoration: none;
        color: #00cc82;
    }

        .page-content a:hover {
            color: #4D4D4D; /* SLC Dark Grey Color*/
        }

.content-title {
    color: #00cc82; /* SLC Green Color*/
}
/*
    END OF STYLE FOR ABOVE PAGES
*/
/*/////////////////////////////////////////////////////////////////////////////*/


/* For tables: */
@media (max-width: 900px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
            /*background-color: red;*/
            margin-top: 25px;
        }

            .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #4d4d4d; /*#eee;*/
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ffffff; /*#504f4f;*/ /*#333;*/
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 100px; /*50px*/
        left: 0px;
        padding: 0 0 0 0;
    }

        .nav > .nav-links > a {
            color: #504f4f; /*#ffffff;*/
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    /*.section1, .section2, .section3 {
        padding: 75px 50px 75px 50px;
    }*/

    /*.section2 {
        height: 90vh;
    }

    .sec2-title {
        padding-right: 0px;
    }

    .sec2-column1 {
        float: left;
        width: 100%;
        height: 100px;
        text-align: center;
    }

    .sec2-column2 {
        float: left;
        width: 100%;
        height: 100px;
        text-align: center;
    }

    .section3 {
        height: 100vh;
    }

    .sec3-column1 {
        float: left;
        width: 100%;
        height: 150px;
        padding: 0 0px 100px 0px;
    }

    .sec3-column2 {
        float: left;
        width: 100%;
        height: 200px;
        padding: 0 0px 0 0px;
    }

    .sec3-column3 {
        float: left;
        width: 100%;
        height: 100px;
        padding: 0 0px 0 0px;
    }

    .footer {
        padding: 0 50px 0 50px;
        height: 450px;
    }

    .footer-column1 {
        float: none;
        width: 100%;
        height: 0px;
        padding: 0px 50px 0px 50px;
        align-items: center;
    }

    .footer-column2 {
        float: left;
        width: 100%;
        padding: 0px 0px 200px 0px;
    }*/

    .header {
        height: 500px;
        padding: 20px 20px 120px 20px;
        margin: 0 auto;
    }

    .gavel {
        height: 200px;
        padding: 0 50px 0 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .intro-text {
        text-align: center;
    }

    .intro-sentence {
        text-align: center;
    }

    .cta {
        text-align: center;
        padding: 50px 50px 0px 50px;
    }

    .section1 {
        height: 200vh;
    }

    .letter {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .clock {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .courthouse {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .sec1-column1 {
        float: left;
        width: 100%;
        height: 320px;
        padding: 0 0px 0px 0px;
    }

    .sec1-column2 {
        float: left;
        width: 100%;
        height: 520px;
        padding: 0px 0px 0px 0px;
    }

    .sec1-column3 {
        float: left;
        width: 100%;
        height: 420px;
        padding: 0 0px 0 0px;
        margin-bottom: 600px;
    }

    .section2 {
        margin-top: 0px;
        padding: 20px 50px 0px 20px;
        height: 100vh;
    }

    .sec2-title {
        text-align: center;
    }

    .sec2-column1 {
        float: left;
        width: 100%;
        height: 100px;
        text-align: center;
    }

    .sec2-column2 {
        float: left;
        width: 100%;
        height: 100px;
        text-align: center;
    }


    .footer {
        padding: 0 50px 0 50px;
        height: 500px;
    }

    .footer-column1 {
        float: none;
        width: 100%;
        height: 0px;
        padding: 0px 50px 0px 50px;
        align-items: center;
        background-color: blue;
        border: 2px dashed red;
    }

    .footer-column2 {
        float: left;
        width: 100%;
        padding: 0px 0px 200px 0px;
        background-color: red;
    }


    .footer {
        padding: 0 50px 0 50px;
        height: 200px;
        margin: 0 auto;
    }

    .prp {
        height: 160px;
        padding: 0 18% 0 18%;
        float: left;
    }

    .footer-p {
        text-align: left;
        height: 150px;
    }

    /* For Pages: 
    - More Info  
    - Resources
    - Nondiscrimination
*/
    /*/////////////////////////////////////////////////////////////////////////////*/
    .page-content {
        padding: 25px 20px 75px 20px;
    }

        .page-content a {
            text-decoration: none;
            color: #00cc82;
        }

            .page-content a:hover {
                color: #4D4D4D;
            }

    .content-title {
        color: #00cc82;
    }
    /*
    END OF STYLE FOR ABOVE PAGES
*/
    /*/////////////////////////////////////////////////////////////////////////////*/
}

/* For mobile phones: */
@media (max-width:640px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
            /*background-color: red;*/
            margin-top: 25px;
        }

            .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #4d4d4d; /*#eee;*/
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #504f4f; /*#333;*/
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 100px; /*50px*/
        left: 0px;
        padding: 0 0 0 0;
    }

        .nav > .nav-links > a {
            color: #ffffff;
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }


    /*.header {
        height: 600px;
        padding: 20px 20px 120px 20px;
    }

    .gavel {
        height: 150px;
        padding: 0 50px 0 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .intro-text {
        text-align: center;
    }

    .intro-sentence {
        text-align: center;
    }

    .cta {
        text-align: center;
        padding: 50px 50px 0px 50px;

    }

    .section1 {
        height: 230vh;
    }

    .letter {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .clock {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .courthouse {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .sec1-column1 {
        float: left;
        width: 100%;
        height: 320px;
        padding: 0 0px 0px 0px;
    }

    .sec1-column2 {
        float: left;
        width: 100%;
        height: 540px;
        padding: 0px 0px 0px 0px;
    }

    .sec1-column3 {
        float: left;
        width: 100%;
        height: 420px;
        padding: 0 0px 0 0px;
        margin-bottom: 600px;
    }

    .section2 {
        margin-top: 0px;
        padding: 20px 75px 0px 75px;
        min-height: 145vh;
    }

    .sec2-title {
        text-align: center;
    }

    .sec2-column1 {
        float: left;
        width: 100%;
        height: 100px;
        text-align: center;
    }

    .sec2-column2 {
        float: left;
        width: 100%;
        height: 100px;
        text-align: center;
    }


    .footer {
        padding: 0 50px 0 50px;
        height: 500px;
    }

    .footer-column1 {
        float: none;
        width: 100%;
        height: 0px;
        padding: 0px 50px 0px 50px;
        align-items: center;
        background-color: blue; 
        border: 2px dashed red;
    }

    .footer-column2 {
        float: left;
        width: 100%;
        padding: 0px 0px 200px 0px;
        background-color: red; 
    }


    .footer {
        padding: 0 50px 0 50px;
        height: 500px;
    }

    .prp {
        height: 160px;
        padding: 0 18% 0 18%;
        float: left;
    }

    .footer-p {
        text-align: left;
        height: 150px;
    }*

    /* For Pages: 
    - More Info  
    - Resources
    - Nondiscrimination
*/
    /*/////////////////////////////////////////////////////////////////////////////*/
    .page-content {
        padding: 25px 20px 75px 20px;
    }

        .page-content a {
            text-decoration: none;
            color: #00cc82;
        }

            .page-content a:hover {
                color: #4D4D4D;
            }

    .content-title {
        color: #00cc82;
    }
    /*
    END OF STYLE FOR ABOVE PAGES
*/
    /*/////////////////////////////////////////////////////////////////////////////*/
}
